In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df_pat = pd.read_csv("C:/Users/user/Downloads/BigData/dataset/mimic-iii-clinical-database-demo-1.4/PATIENTS.csv")

In [4]:
df_pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       100 non-null    int64
 1   subject_id   100 non-null    int64
 2   gender       100 non-null    object
 3   dob          100 non-null    object
 4   dod          100 non-null    object
 5   dod_hosp     70 non-null     object
 6   dod_ssn      77 non-null     object
 7   expire_flag  100 non-null    int64
dtypes: int64(3), object(5)
memory usage: 6.4+ KB

In [7]:
df_pat.isnull().sum()

row_id          0
subject_id      0
gender          0
dob             0
dod             0
dod_hosp       30
dod_ssn        23
expire_flag     0
dtype: int64

In [8]:
df_pat.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [9]:
#Check if patient dead or not 
df_pat['is_deceased'] = df_pat['dod'].notna()

In [10]:
#check if there is unlogical data
inconsistent = df_pat[(df_pat['expire_flag'] == 1) & (df_pat['dod'].isna()) | 
               (df_pat['expire_flag'] == 0) & (df_pat['dod'].notna())]

In [11]:
#convert to date
date_cols = ['dob', 'dod', 'dod_hosp', 'dod_ssn']
for col in date_cols:
    df_pat[col] = pd.to_datetime(df_pat[col], errors='coerce')

In [12]:
#convert to category
df_pat['gender'] = df_pat['gender'].astype('category')
#convert to bool
df_pat['expire_flag'] = df_pat['expire_flag'].astype(bool)

In [13]:
df_pat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       100 non-null    int64
 1   subject_id   100 non-null    int64
 2   gender       100 non-null    category
 3   dob          100 non-null    datetime64[ns]
 4   dod          100 non-null    datetime64[ns]
 5   dod_hosp     70 non-null     datetime64[ns]
 6   dod_ssn      77 non-null     datetime64[ns]
 7   expire_flag  100 non-null    bool
 8   is_deceased  100 non-null    bool
dtypes: bool(2), category(1), datetime64[ns](4), int64(2)
memory usage: 5.2 KB

In [14]:
df_pat =df_pat.drop(columns=['dod_mismatch'], errors='ignore')

In [15]:
df_pat.dtypes

row_id                  int64
subject_id              int64
gender               category
dob            datetime64[ns]
dod            datetime64[ns]
dod_hosp       datetime64[ns]
dod_ssn        datetime64[ns]
expire_flag              bool
is_deceased              bool
dtype: object

In [16]:
df_pat.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,is_deceased
0,9467,10006,F,2094-03-05,2165-08-12,2165-08-12,2165-08-12,True,True
1,9472,10011,F,2090-06-05,2126-08-28,2126-08-28,NaT,True,True
2,9474,10013,F,2038-09-03,2125-10-07,2125-10-07,2125-10-07,True,True
3,9478,10017,F,2075-09-21,2152-09-12,NaT,2152-09-12,True,True
4,9479,10019,M,2114-06-20,2163-05-15,2163-05-15,2163-05-15,True,True

In [17]:

datetime_cols = ['dob', 'dod', 'dod_hosp', 'dod_ssn']

In [18]:
df_pat[datetime_cols].head()

         dob        dod   dod_hosp    dod_ssn
0 2094-03-05 2165-08-12 2165-08-12 2165-08-12
1 2090-06-05 2126-08-28 2126-08-28        NaT
2 2038-09-03 2125-10-07 2125-10-07 2125-10-07
3 2075-09-21 2152-09-12        NaT 2152-09-12
4 2114-06-20 2163-05-15 2163-05-15 2163-05-15

In [20]:
df_pat.dtypes

row_id                  int64
subject_id              int64
gender               category
dob            datetime64[ns]
dod            datetime64[ns]
dod_hosp       datetime64[ns]
dod_ssn        datetime64[ns]
expire_flag              bool
is_deceased              bool
dtype: object

In [21]:
df_pat.to_csv('C:/Users/user/Downloads/BigData/dataset/mimic-iii-clinical-database-demo-1.4/cleaned_data/patients.csv', index=False)